* {
  text-align: center;
  background-color: #0f0f0f;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  color: white;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: white;
}
.link {
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
}
.profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-container {
  display: flex;
  margin-top: 5px;
  height: 45px;
}

.search-container input {
  width: 527px;
  flex: 1;
  padding: 10px 10px 10px 20px;
  border: 1px solid rgba(128, 128, 128, 0.468);
  border-radius: 30px 0 0 30px;
  font-size: 17px;
  color: white;
  text-align: left;
}
.search-container input::placeholder {
  text-align: left;
}

.search-container button {
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.468);
  background-color: #222222;
  color: white;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  width: 70px;
}

.icons {
  height: 24px;
  width: 24px;
}
.menu {
  margin-right: 16px;
}
.logo {
  margin-right: 3px;
  color: #ff0000;
  height: 32px;
  width: 32px;
}
.profile {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
.li {
  margin-right: 25px;
}

.videos {
  color: white;
}
