* {
  text-align: center;
  background-color: #0f0f0f;
  /* color: white; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  color: white;
  font-size: 0;
}
.left {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.right {
  align-items: center;
  margin-left: auto;
}
.mid {
  align-items: center;
  flex-grow: 1;
  margin: 10px 10px;
}

.search-bar {
  height: 40px;
  width: 527px;
  border-radius: 50px 0 0 50px;
  border: 1px solid rgba(128, 128, 128, 0.468);
  font-size: 1rem;
  margin: 0px 0px 0px 32px;
  padding: 0px 4px 0px 16px;
}
.search-bar::placeholder {
  text-align: left;
  text-indent: 15px;
}
.search-btn {
  height: 41px;
  width: 70px;
  color: white;
  border-radius: 0 50px 50px 0;
  border: 1px solid rgba(128, 128, 128, 0.468);
  font-size: 15px;
  padding: 1px 16px;
  background-color: grey;
}
.sb {
  background-color: inherit;
}

.icons {
  height: 24px;
  width: 24px;
}
.menu {
  margin-right: 16px;
}
.logo {
  margin-right: 2px;
  color: red;
  height: 32px;
  width: 32px;
}
.profile {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
.left a {
  font-weight: bolder;
  font-size: 1.5rem;
}
.li {
  margin-right: 25px;
}
